html, body {
    background-color:#F0F0F0;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: ‘Raleway’,’Source Sans Pro’, ‘Arial’;
}
table { background-color: #000; }
tr { background-color: #a0bff2; }
td { background-color: white; }

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px; */
}

/* Control the left side */
.left {
  left: 10;
  background-color: #F0F0F0;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #bdc9de;
}

label {
 display:block;
 margin-bottom:10px;
}
input {
 padding:10px;
 width: 40%;
 margin-bottom: 1em;
}
button {
 margin: 2em 0;
 background-color: #e5f5bf;
 padding: 1em 4em;
 display:block;
}
#displayDonorName {
 padding:1em;
 background-color:#fff;
 margin: 1em 0;
}
select {
  padding:10px;
  width: 40%;
  margin-bottom: 1em;
 }

buttonRight {
  float: right;
  margin: 2em 0;
  background-color: #e5f5bf;
  padding: 1em 4em;
  display:block;
}


